@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space_grotesk_400.woff2') format('woff2');
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/space_grotesk_700.woff2') format('woff2');
}