:root {
  // colors
  --color-light: #FFFFFF;
  --color-gray: #F1F1F1;
  --color-dark: #000000;
  --color-dark-alternate: #191A23;
  --color-green: #B8FD66;

  // others
  --header-min-height: 180px;
  --border: 1px solid var(--color-dark-alternate);
}